{% load static %}
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-header">NAVIGATION</li>
    <li class="nav-item">
        <a href="/" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="/accounts/" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Accounts</p>
        </a>
    </li>
</ul>