{% extends 'layout/master.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="float-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-account">
                Add Account
            </button>
            <button type="button" class="btn btn-success">
                Filter
            </button>
        </div>
    </div>
</div>

<br />
<div class="card">
    <div class="card-header">
        <h3 class="card-title">All Accounts</h3>
        <div class="card-tools"></div>
    </div>
    <div class="card-body p-0">
        <table class="table table-hover projects">
            <thead>
                <tr>
                <th style="width: 1%">
                #
                </th>
                <th style="width: 20%">
                Account Name
                </th>
                <th style="width: 8%" class="text-center">
                Status
                </th>
                <th style="width: 30%">
                Team Members
                </th>
                <th>
                Tags
                </th>
                <th style="width: 20%">
                </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#</td>
                        <td>
                            <a href="/accounts/1/"><b>Marriott International</b></a>
                            <br />
                            <small>
                                Created March 3, 2019
                            </small>
                        </td>
                        <td class="project-state">
                            <span class="badge badge-success">Active</span>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                <img alt="Avatar" class="table-avatar" src="{% static 'img/avatar.png' %}">
                                </li>
                                <li class="list-inline-item">
                                <img alt="Avatar" class="table-avatar" src="{% static 'img/avatar2.png' %}">
                                </li>
                                <li class="list-inline-item">
                                <img alt="Avatar" class="table-avatar" src="{% static 'img/avatar3.png' %}">
                                </li>
                                <li class="list-inline-item">
                                <img alt="Avatar" class="table-avatar" src="{% static 'img/avatar4.png' %}">
                                </li>
                            </ul>
                        </td>
                        <td class="project_progress">
                            <a href="#"><span class="badge badge-primary">Wireless</span></a>
                            <a href="#"><span class="badge badge-primary">Threat Protection</span></a>
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i class="fas fa-folder"></i>
                                View
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt"></i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i class="fas fa-trash"></i>
                                Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block modals %}
<div class="modal fade" id="modal-add-account">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create New Customer Account</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
