{% extends 'layout/master.html' %}

{% block content %}


    
<div class="row">
    <div class="col-md-2">
        <div class="card">
            <div class="card-body p-0">
                {% include 'pages/accounts/view/nav.html' with active="contacts" %}
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Contacts</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-xs btn-primary btn">
                        Edit 
                    </button>
                </div>
            </div>
            <div class="card-body">
                Start creating your amazing application!
            </div>
            <div class="card-footer">
            Footer
            </div>
        </div>
    </div>
</div>


{% endblock %}