{% extends 'layout/master.html' %}
{% load static %}

{% block content %}


    
<div class="row">
    <div class="col-md-2">
        <div class="card">
            <div class="card-body p-0">
                {% include 'pages/accounts/view/nav.html' with active="files" %}
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <div class="card-tools float-left">
                    <button type="button" class="btn btn-sm btn-block btn-success btn">
                        Upload
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-hover table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%"><input type="checkbox"></th>
                            <th style="width: 2%">

                            </th>
                            <th>
                                File Name
                            </th>
                            
                            <th class="">
                                Date Created
                            </th>
                            <th class="">
                                Date Added By
                            </th>
                            <th>
                                Last Updated
                            </th>
                            <th>
                            Revisions
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>
                                <i class="fas fa-file"></i>
                            </td>
                            <td>
                                <a href="#"><b>Marriott International</b></a>
                            </td>
                            <td>
                                March 13, 2022
                            </td>
                            <td>
                               
                            </td>
                            <td class="project_progress">
                                <a href="#"><span class="badge badge-primary">Threat Protection</span></a>
                            </td>
                            <td></td>
                            <td class="project-actions">
                                <a class="btn btn-primary btn-sm" href="#">
                                    <i class="fas fa-folder"></i>
                                    View
                                </a>
                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt"></i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
            Footer
            </div>
        </div>
    </div>
</div>


{% endblock %}