{% extends 'layout/master.html' %}
{% load static %}

{% block content %}
    
<div class="row">
    <div class="col-md-2">
        <div class="card">
            <div class="card-body p-0">
                {% include 'pages/accounts/single-account/nav.html' with active="overview" %}
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info"><i class="fas fa-network-wired"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Devices</span>
                        <span class="info-box-number">53</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-success"><i class="fas fa-list"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Open Tickets</span>
                        <span class="info-box-number">6</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Device Breakdown</h3>
                        <div class="card-tools">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="chart-responsive">
                                    <canvas id="pieChart" height="150"></canvas>
                                </div>
                            </div>
                            
                            <div class="col-md-5">
                                <ul class="chart-legend clearfix">
                                    <li><i class="fas fa-circle text-danger"></i> Firewall</li>
                                    <li><i class="fas fa-circle text-success"></i> Switch</li>
                                    <li><i class="fas fa-circle text-warning"></i> Access Point</li>
                                    <li><i class="fas fa-circle text-info"></i> Router</li>
                                    <li><i class="fas fa-circle text-primary"></i> Server</li>
                                    <li><i class="fas fa-circle text-secondary"></i> Other</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                    Footer
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Open Tickets</h3>
                        <div class="card-tools">
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-striped table-valign-middle">
                            <thead>
                                <tr>
                                    <th style="width:12%;"></th>
                                    <th>Description</th>
                                    <th>Created</th>
                                    <th>Due</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-xs btn-block">VIEW</a>
                                    </td>
                                    <td>
                                        Open port on site switch
                                    </td>
                                    <td>
                                        Aug. 5, 2022
                                    </td>
                                    <td>
                                        Aug. 10, 2022
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-xs btn-block">VIEW</a>
                                    </td>
                                    <td>
                                        Add VLAN to network/ports
                                    </td>
                                    <td>
                                        Aug. 5, 2022
                                    </td>
                                    <td>
                                        Aug. 10, 2022
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-xs btn-block">VIEW</a>
                                    </td>
                                    <td>
                                        Audit Firewall Rules
                                    </td>
                                    <td>
                                        Aug. 5, 2022
                                    </td>
                                    <td>
                                        Aug. 10, 2022
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-xs btn-block">VIEW</a>
                                    </td>
                                    <td>
                                        Open port on site switch
                                    </td>
                                    <td>
                                        Aug. 5, 2022
                                    </td>
                                    <td>
                                        Aug. 10, 2022
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-xs btn-block">VIEW</a>
                                    </td>
                                    <td>
                                        Open port on site switch
                                    </td>
                                    <td>
                                        Aug. 5, 2022
                                    </td>
                                    <td>
                                        Aug. 10, 2022
                                    </td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-block btn-secondary">View All Tickets</a>
                    </div>
                </div>
            </div>
        </div>
        
            


        
    </div>
</div>
{% endblock %}

{% block scripts %}

<script src="{% static 'plugins/jquery-mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'plugins/jquery-mapael/jquery.mapael.min.js' %}"></script>
<script src="{% static 'plugins/jquery-mapael/maps/usa_states.min.js' %}"></script>

<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>

<script>
    
$(function () {
   
    //-------------
    // - PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
    var pieData = {
      labels: [
        'Chrome',
        'IE',
        'FireFox',
        'Safari',
        'Opera',
        'Navigator'
      ],
      datasets: [
        {
          data: [700, 500, 400, 600, 300, 100],
          backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de']
        }
      ]
    }
    var pieOptions = {
      legend: {
        display: false
      }
    }
    // Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    // eslint-disable-next-line no-unused-vars
    var pieChart = new Chart(pieChartCanvas, {
      type: 'pie',
      data: pieData,
      options: pieOptions
    })
  
    //-----------------
    // - END PIE CHART -
    //-----------------
  
  })

</script>

{% endblock %}