{% load static %}
<div class="card-body p-0">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a href="/accounts/{{ account_id }}/" class="nav-link{% if active == "overview" %} active{% endif %}">
                Overview
            </a>
        </li>
        <li class="nav-item">
            <a href="/accounts/{{ account_id }}/contacts/" class="nav-link{% if active == "contacts" %} active{% endif %}">
                Contacts
            </a>
        </li>
        <li class="nav-item">
            <a href="/accounts/{{ account_id }}/sites/" class="nav-link{% if active == "sites" %} active{% endif %}">
                Sites
            </a>
        </li>
        <li class="nav-item">
            <a href="/accounts/{{ account_id }}/map/" class="nav-link{% if active == "map" %} active{% endif %}">
                WAN Map
            </a>
        </li>
        <li class="nav-item">
            <a href="/accounts/{{ account_id }}/files/" class="nav-link{% if active == "files" %} active{% endif %}">
                Files
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link{% if active == "" %} active{% endif %}">
                Devices
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link{% if active == "" %} active{% endif %}">
                Activity
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link{% if active == "" %} active{% endif %}">
                Notifications
            </a>
        </li>
    </ul>
</div>